extends public/html/partials/master

block content
    .container
        h1.display-4.mt-5.text-grey Zitzak
        .row
            .card.col-sm-6.border-radius-big
                img#card-img-display.card-img-top(src="./public/img/zitzak-blanco.png")
        .row.mt-3
            .card-columns.col-sm-6.pl-0.pr-0
                .card.border-radius-big.card-item-img.border-primary
                    img.card-img-top.border-radius-big(src="./public/img/zitzak-blanco.png")
                .card.border-radius-big.card-item-img
                    img.card-img-top.border-radius-big(src="./public/img/zitzak2.png")
                .card.border-radius-big.card-item-img
                    img.card-img-top.border-radius-big(src="./public/img/zitzak3.png")